[submodule "react_version"]
	path = react_version
	url = git@github.com:ferreirointz/custom_cursor_React
[submodule "vanillaJs_version"]
	path = vanillaJs_version
	url = git@github.com:ferreirointz/custom_cursor_VanillaJs
